.element-eye-show-visible {
  border-radius: 4px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 32px;
}

.element-eye-show-visible .icon {
  height: 14px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 20px;
}
