.my-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.my-profile .div-2 {
  background-color: #ffffff;
  height: 2873px;
  position: relative;
  width: 1920px;
}

.my-profile .overlap {
  height: 1971px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.my-profile .bg-img {
  height: 976px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.my-profile .white-logo {
  height: 54px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 85px;
  width: 232px;
}

.my-profile .slogan {
  align-items: flex-start;
  display: inline-flex;
  gap: 11px;
  left: 218px;
  position: absolute;
  top: 438px;
}

.my-profile .rectangle {
  background-color: #f87c56;
  height: 199px;
  position: relative;
  width: 10px;
}

.my-profile .slogans {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 58.5px;
  font-weight: 700;
  height: 199px;
  letter-spacing: 0;
  line-height: 67.9px;
  margin-top: -1px;
  position: relative;
  width: 787px;
}

.my-profile .group {
  height: 1098px;
  left: 223px;
  position: absolute;
  top: 873px;
  width: 1479px;
}

.my-profile .overlap-group {
  height: 1098px;
  position: relative;
}

.my-profile .rectangle-2 {
  background-color: #ffffff;
  box-shadow: 0px 4px 48px 12px #00000017;
  height: 941px;
  left: 0;
  position: absolute;
  top: 157px;
  width: 1479px;
}

.my-profile .group-2 {
  background-color: #f7f7f7;
  height: 157px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1479px;
}

.my-profile .overlap-group-2 {
  height: 157px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1062px;
}

.my-profile .rectangle-3 {
  background-color: #f7f7f7;
  height: 157px;
  left: 0;
  position: absolute;
  top: 0;
  width: 354px;
}

.my-profile .rectangle-4 {
  background-color: #f87c56;
  height: 157px;
  left: 354px;
  position: absolute;
  top: 0;
  width: 354px;
}

.my-profile .rectangle-5 {
  background-color: #f7f7f7;
  height: 157px;
  left: 708px;
  position: absolute;
  top: 0;
  width: 354px;
}

.my-profile .group-3 {
  /* height: 71px; */
  left: 76px;
  position: absolute;
  top: 52px;
  width: 924px;
}

.my-profile .text-wrapper-6 {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 34px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 218px;
}

.my-profile .text-wrapper-7 {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 346px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 218px;
}

.my-profile .billing-subscription {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 700px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 218px;
}

.my-profile .get-eventfull-pro {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1086px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 218px;
}

.my-profile .rectangle-6 {
  background-color: #f7f7f7;
  height: 157px;
  left: 1062px;
  position: absolute;
  top: 0;
  width: 417px;
}

.my-profile .table-flight-list-version-a {
  left: 269px !important;
  position: absolute !important;
  top: 1099px !important;
}

.my-profile .navbar {
  gap: 28.09px !important;
  left: 567px !important;
  position: absolute !important;
  top: 100px !important;
}

.my-profile .menu-instance {
  font-size: 25.9px !important;
  margin-top: -1.08px !important;
}

.my-profile .login-group {
  height: 57px;
  left: 1381px;
  position: absolute;
  top: 91px;
  width: 227px;
}

.my-profile .overlap-2 {
  height: 57px;
  left: 25px;
  position: relative;
  width: 202px;
}

.my-profile .login {
  border-radius: 7.12px;
  box-shadow: 0px 4px 4px #00000040;
  height: 57px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 89px;
}

.my-profile .ellipse {
  background-color: #ffffff;
  border-radius: 7.12px;
  height: 14px;
  left: 21px;
  position: absolute;
  top: 12px;
  width: 14px;
}

.my-profile .img {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 28px;
  width: 28px;
}

.my-profile .text-wrapper-8 {
  color: #ffffff;
  font-family: "Nunito Sans", Helvetica;
  font-size: 25.9px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 11px;
  width: 146px;
}

.my-profile .footer {
  background-color: #ffffff;
  height: 474px;
  left: 0;
  position: absolute;
  top: 2399px;
  width: 1920px;
}

.my-profile .group-wrapper {
  height: 341px;
  left: 346px;
  position: relative;
  top: 66px;
  width: 1228px;
}

.my-profile .group-4 {
  height: 341px;
  position: relative;
  width: 1230px;
}

.my-profile .p {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 467px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
}

.my-profile .rectangle-7 {
  background-color: #e4e4e9;
  height: 2px;
  left: 26px;
  position: absolute;
  top: 273px;
  width: 1200px;
}

.my-profile .nav-wrap {
  height: 180px;
  left: 317px;
  position: absolute;
  top: 16px;
  width: 911px;
}

.my-profile .nav-list-item {
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.my-profile .text-wrapper-9 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.my-profile .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 48px;
}

.my-profile .text-wrapper-10 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.my-profile .text-wrapper-11 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.my-profile .nav-list-item-2 {
  height: 180px;
  left: 234px;
  position: absolute;
  top: 0;
  width: 189px;
}

.my-profile .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 50px;
  position: absolute;
  top: 100px;
}

.my-profile .nav-list-item-3 {
  height: 173px;
  left: 522px;
  position: absolute;
  top: 0;
  width: 393px;
}

.my-profile .div-wrapper {
  height: 52px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 389px;
}

.my-profile .overlap-group-wrapper {
  height: 52px;
  width: 393px;
}

.my-profile .overlap-group-3 {
  background-color: #93aec130;
  height: 52px;
  position: relative;
  width: 389px;
}

.my-profile .text-wrapper-12 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 15px;
  letter-spacing: -0.32px;
  line-height: 26px;
  opacity: 0.2;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.my-profile .overlap-3 {
  background-color: #f87c56;
  border-radius: 10px;
  box-shadow: 0px 20px 35px #df695126;
  height: 52px;
  left: 240px;
  position: absolute;
  top: 0;
  width: 149px;
}

.my-profile .text-wrapper-13 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 43px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.my-profile .will-send-you-weekly {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.32px;
  line-height: 26px;
  opacity: 0.5;
  position: absolute;
  top: 121px;
}

.my-profile .group-5 {
  height: 107px;
  left: 7px;
  position: absolute;
  top: 107px;
  width: 215px;
}

.my-profile .discover-book {
  color: #757095;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.32px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 213px;
}

.my-profile .group-6 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 128px;
}

.my-profile .original-logo {
  height: 72px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 239px;
}

.my-profile .group-7 {
  height: 324px;
  left: 0;
  position: absolute;
  top: 2075px;
  width: 1920px;
}

.my-profile .group-8 {
  height: 324px;
  width: 1922px;
}

.my-profile .overlap-group-4 {
  height: 324px;
  position: relative;
  width: 1920px;
}

.my-profile .footer-head {
  background-image: url(./img/rectangle-19380.png);
  background-size: 100% 100%;
  height: 324px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.my-profile .rectangle-8 {
  background-color: #1d1d1d54;
  height: 324px;
}

.my-profile .text-wrapper-14 {
  color: #ffffff;
  font-family: "Volkhov", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 654px;
  letter-spacing: 0;
  line-height: 71px;
  position: absolute;
  text-align: center;
  top: 128px;
  white-space: nowrap;
  width: 639px;
}

.my-profile .ant-dropdown .ant-dropdown-menu,
.my-profile-dropdown.ant-dropdown .ant-dropdown-menu{
  padding: 14px !important;
  width: 180px !important;
}

.my-profile a.ant-dropdown-trigger:hover,
.my-profile-dropdown a.ant-dropdown-trigger:hover{
  cursor: pointer;
}

.my-profile .title-wrapper {
  height: 76px;
  left: 334px;
  position: absolute;
  top: 1224px;
  width: 456px;
}

.my-profile .title {
  height: 76px;
  position: relative;
}

.my-profile .abc {
  color: var(--black-8);
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  height: 16px;
  left: 77px;
  letter-spacing: 0.16px;
  line-height: 16px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.my-profile .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content,
.my-profile-dropdown.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content{
  font-size: 20px !important;
}

.my-profile .ant-form-item.text-wrapper-3 .ant-input{
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
  height: 40px;
}

.my-profile .ant-form-item.text-wrapper-3 label{
  display: none !important;
}

.my-profile .frame-2 .ant-form-item{
  padding-left: 30px;
}

.my-profile .frame-2 .antd-datetime-picker .ant-row{
  width: 250px;
}

.my-profile .frame-2 .antd-datetime-picker label{
  display: none !important;
}

.my-profile .frame-2 .antd-datetime-picker .ant-picker-input{
  font-size: 40px;
}

/*.my-profile .frame-2 .ant-form-item-row.antd-datetime-picker .ant-picker-input */
#dateOfBirth{
  font-size: 24px;
}

.my-profile .submit-button button{
  font-size: 24px;
  width: 70px;
  height: 45px;
}

.my-profile .submit-button .ant-btn-primary:not(:disabled){
  background-color: #f87c56;
}

.my-profile .submit-button .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
  background-color: #ce5a37;
}

.my-profile .frame-2 input:hover,
.my-profile .frame-2 input:focus,
.my-profile .ant-picker-focused,
.my-profile .ant-picker:hover{
  border-color: #f87c56;
}