.data-row-primary {
  align-items: flex-start;
  display: flex;
  gap: 34px;
  position: relative;
  width: 600px;
}

.data-row-primary .label {
  color: var(--grey-900);
  flex: 1;
  font-family: "Nunito Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.data-row-primary .label-right {
  color: var(--grey-900);
  flex: 1;
  font-family: "Nunito Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
}
