.search-bar {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: 1461px;
}

.search-bar .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50px;
  margin-right: -18px;
  position: relative;
  width: 1479px;
}

.search-bar .frame-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 1474px;
}

.search-bar .where {
  height: 50px;
  position: relative;
  width: 325px;
}

.search-bar .group-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #93aec1;
  border-radius: 5px 0px 0px 5px;
  height: 52px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 327px;
}

.search-bar .group {
  height: 27px;
  left: 15px;
  position: relative;
  top: 13px;
  width: 100px;
}

.search-bar .vector {
  height: 23px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 17px;
}

.search-bar .text-wrapper-4 {
  color: #93aec1;
  font-family: "Nunito Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 27px;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.search-bar .overlap-wrapper {
  height: 50px;
  position: relative;
  width: 328px;
}

.search-bar .overlap {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #93aec1;
  height: 52px;
  left: -1px;
  position: relative;
  top: -1px;
}

.search-bar .text-wrapper-5 {
  color: #93aec1;
  font-family: "Nunito Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 27px;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.search-bar .img {
  height: 25px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.search-bar .vector-2 {
  height: 21px;
  left: 14px;
  position: absolute;
  top: 16px;
  width: 23px;
}

.search-bar .guest-search {
  height: 50px;
  margin-right: -5px;
  position: relative;
  width: 502px;
}

.search-bar .overlap-2 {
  height: 50px;
  position: relative;
  width: 504px;
}

.search-bar .guest {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 504px;
}

.search-bar .overlap-group-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #93aec1;
  border-radius: 0px 5px 5px 0px;
  height: 52px;
  left: -1px;
  position: relative;
  top: -1px;
}

.search-bar .text-wrapper-6 {
  color: #93aec1;
  font-family: "Nunito Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 27px;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 163px;
}

.search-bar .vector-3 {
  height: 23px;
  left: 14px;
  position: absolute;
  top: 15px;
  width: 23px;
}

.search-bar .btn-search {
  all: unset;
  box-sizing: border-box;
  height: 50px;
  left: 234px;
  position: absolute;
  top: 0;
  width: 270px;
}

.search-bar .div-wrapper {
  background-color: #f87c56;
  border-radius: 5px;
  height: 50px;
  position: relative;
  width: 268px;
}

.search-bar .text-wrapper-7 {
  color: #ffffff;
  font-family: "Nunito Sans", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 27px;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 183px;
}
