.my-booking {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.my-booking .div-2 {
  background-color: #ffffff;
  height: 3259px;
  position: relative;
  width: 1920px;
}

.my-booking .overlap {
  height: 2461px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.my-booking .bg-img {
  height: 976px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.my-booking .white-logo {
  height: 54px;
  left: 218px;
  object-fit: cover;
  position: absolute;
  top: 85px;
  width: 232px;
}

.my-booking .slogan {
  align-items: flex-start;
  display: inline-flex;
  gap: 11px;
  left: 218px;
  position: absolute;
  top: 438px;
}

.my-booking .rectangle {
  background-color: #f87c56;
  height: 199px;
  position: relative;
  width: 10px;
}

.my-booking .slogans {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 58.5px;
  font-weight: 700;
  height: 199px;
  letter-spacing: 0;
  line-height: 67.9px;
  margin-top: -1px;
  position: relative;
  width: 787px;
}

.my-booking .navbar {
  gap: 28.09px !important;
  left: 567px !important;
  position: absolute !important;
  top: 100px !important;
}

.my-booking .menu-instance {
  font-size: 25.9px !important;
  margin-top: -1.08px !important;
}

.my-booking .login-group {
  height: 57px;
  left: 1381px;
  position: absolute;
  top: 91px;
  width: 227px;
}

.my-booking .overlap-group {
  height: 57px;
  left: 25px;
  position: relative;
  width: 202px;
}

.my-booking .login {
  border-radius: 7.12px;
  box-shadow: 0px 4px 4px #00000040;
  height: 57px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 89px;
}

.my-booking .ellipse {
  background-color: #ffffff;
  border-radius: 7.12px;
  height: 14px;
  left: 21px;
  position: absolute;
  top: 12px;
  width: 14px;
}

.my-booking .img {
  height: 14px;
  left: 15px;
  position: absolute;
  top: 28px;
  width: 28px;
}

.my-booking .text-wrapper-4 {
  color: #ffffff;
  font-family: "Nunito Sans", Helvetica;
  font-size: 25.9px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 11px;
  width: 146px;
}

.my-booking .rectangle-2 {
  background-color: #ffffff;
  box-shadow: 0px 4px 48px 12px #00000017;
  height: 1476px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1479px;
}

.my-booking .p {
  color: #000000;
  font-family: "Nunito Sans", Helvetica;
  font-size: 40px;
  font-weight: 300;
  left: 421px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 262px;
}

.my-booking .group {
  height: 157px;
  left: 223px;
  position: absolute;
  top: 873px;
  width: 1479px;
}

.my-booking .group-2 {
  background-color: #f7f7f7;
  height: 157px;
  position: relative;
}

.my-booking .overlap-group-2 {
  height: 157px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1062px;
}

.my-booking .rectangle-3 {
  background-color: #f87c56;
  height: 157px;
  left: 0;
  position: absolute;
  top: 0;
  width: 354px;
}

.my-booking .rectangle-4 {
  background-color: #f7f7f7;
  height: 157px;
  left: 354px;
  position: absolute;
  top: 0;
  width: 354px;
}

.my-booking .rectangle-5 {
  background-color: #f7f7f7;
  height: 157px;
  left: 708px;
  position: absolute;
  top: 0;
  width: 354px;
}

.my-booking .group-3 {
  /* height: 71px; */
  left: 76px;
  position: absolute;
  top: 52px;
  width: 924px;
}

.my-booking .text-wrapper-5 {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 34px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 218px;
}

.my-booking .text-wrapper-6 {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 346px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 218px;
}

.my-booking .billing-subscription {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 700px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 218px;
}

.my-booking .get-eventfull-pro {
  color: #343434;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1086px;
  letter-spacing: 2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 218px;
}

.my-booking .rectangle-6 {
  background-color: #f7f7f7;
  height: 157px;
  left: 1062px;
  position: absolute;
  top: 0;
  width: 417px;
}

.my-booking .categories {
  height: 1093px;
  left: 250px;
  position: absolute;
  top: 1284px;
  width: 1367px;
}

.my-booking .enjoy-planning-your {
  height: 66px;
  left: 352px;
  position: absolute;
  top: 0;
  width: 706px;
}

.my-booking .text-wrapper-7 {
  color: #181e4b;
  font-family: "Volkhov", Helvetica;
  font-size: 46.2px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 65.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 704px;
}

.my-booking .venues {
  height: 476px;
  left: 0;
  position: absolute;
  top: 103px;
  width: 439px;
}

.my-booking .overlap-group-3 {
  background-color: #ffffff;
  border-radius: 19.42px;
  box-shadow: 0px 4px 47.99px 12px #00000017;
  height: 476px;
  position: relative;
  width: 433px;
}

.my-booking .overlap-2 {
  height: 80px;
  left: 36px;
  position: absolute;
  top: 365px;
  width: 319px;
}

.my-booking .qui-tempore {
  color: #181e4b;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 313px;
}

.my-booking .text-wrapper-8 {
  color: #f87c56;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  width: 313px;
}

.my-booking .overlap-group-4 {
  height: 339px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 391px;
}

.my-booking .rectangle-7 {
  height: 323px;
  left: 0;
  position: absolute;
  top: 0;
  width: 391px;
}

.my-booking .text-wrapper-9 {
  color: #181e4b;
  font-family: "Volkhov", Helvetica;
  font-size: 31.6px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 257px;
  width: 193px;
}

.my-booking .photo {
  height: 476px;
  left: 0;
  position: absolute;
  top: 617px;
  width: 439px;
}

.my-booking .expert-photography {
  color: #181e4b;
  font-family: "Volkhov", Helvetica;
  font-size: 31.6px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 257px;
  width: 232px;
}

.my-booking .decorations {
  height: 476px;
  left: 467px;
  position: absolute;
  top: 103px;
  width: 439px;
}

.my-booking .overlap-3 {
  height: 80px;
  left: 38px;
  position: absolute;
  top: 365px;
  width: 317px;
}

.my-booking .qui-tempore-2 {
  color: #181e4b;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 313px;
}

.my-booking .makeup {
  height: 476px;
  left: 467px;
  position: absolute;
  top: 617px;
  width: 439px;
}

.my-booking .catering {
  height: 476px;
  left: 934px;
  position: absolute;
  top: 103px;
  width: 439px;
}

.my-booking .overlap-group-5 {
  height: 80px;
  left: 42px;
  position: absolute;
  top: 365px;
  width: 314px;
}

.my-booking .qui-tempore-3 {
  color: #181e4b;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 313px;
}

.my-booking .rectangle-8 {
  height: 323px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 391px;
}

.my-booking .event-planner {
  height: 476px;
  left: 934px;
  position: absolute;
  top: 617px;
  width: 439px;
}

.my-booking .one-stop-event {
  color: #181e4b;
  font-family: "Volkhov", Helvetica;
  font-size: 31.6px;
  font-weight: 700;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 257px;
  width: 234px;
}

.my-booking .footer {
  background-color: #ffffff;
  height: 474px;
  left: 0;
  position: absolute;
  top: 2785px;
  width: 1920px;
}

.my-booking .group-wrapper {
  height: 341px;
  left: 346px;
  position: relative;
  top: 66px;
  width: 1228px;
}

.my-booking .group-4 {
  height: 341px;
  position: relative;
  width: 1230px;
}

.my-booking .text-wrapper-10 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 467px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
}

.my-booking .rectangle-9 {
  background-color: #e4e4e9;
  height: 2px;
  left: 26px;
  position: absolute;
  top: 273px;
  width: 1200px;
}

.my-booking .nav-wrap {
  height: 180px;
  left: 317px;
  position: absolute;
  top: 16px;
  width: 911px;
}

.my-booking .nav-list-item {
  height: 156px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.my-booking .text-wrapper-11 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 21px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.my-booking .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 48px;
}

.my-booking .text-wrapper-12 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.my-booking .text-wrapper-13 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.my-booking .nav-list-item-2 {
  height: 180px;
  left: 234px;
  position: absolute;
  top: 0;
  width: 189px;
}

.my-booking .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  left: 0;
  position: absolute;
  top: 48px;
}

.my-booking .nav-list-item-3 {
  height: 173px;
  left: 522px;
  position: absolute;
  top: 0;
  width: 393px;
}

.my-booking .div-wrapper {
  height: 52px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 389px;
}

.my-booking .overlap-group-wrapper {
  height: 52px;
  width: 393px;
}

.my-booking .overlap-group-6 {
  background-color: #93aec130;
  height: 52px;
  position: relative;
  width: 389px;
}

.my-booking .text-wrapper-14 {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 15px;
  letter-spacing: -0.32px;
  line-height: 26px;
  opacity: 0.2;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.my-booking .overlap-4 {
  background-color: #f87c56;
  border-radius: 10px;
  box-shadow: 0px 20px 35px #df695126;
  height: 52px;
  left: 240px;
  position: absolute;
  top: 0;
  width: 149px;
}

.my-booking .text-wrapper-15 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 43px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.my-booking .will-send-you-weekly {
  color: #181433;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.32px;
  line-height: 26px;
  opacity: 0.5;
  position: absolute;
  top: 121px;
}

.my-booking .group-5 {
  height: 107px;
  left: 7px;
  position: absolute;
  top: 107px;
  width: 215px;
}

.my-booking .discover-book {
  color: #757095;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.32px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 213px;
}

.my-booking .group-6 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 128px;
}

.my-booking .original-logo {
  height: 72px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 239px;
}

.my-booking .group-7 {
  height: 324px;
  left: 0;
  position: absolute;
  top: 2461px;
  width: 1920px;
}

.my-booking .group-8 {
  height: 324px;
  width: 1922px;
}

.my-booking .overlap-group-7 {
  height: 324px;
  position: relative;
  width: 1920px;
}

.my-booking .footer-head {
  background-image: url(./img/rectangle-19380.png);
  background-size: 100% 100%;
  height: 324px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.my-booking .rectangle-10 {
  background-color: #1d1d1d54;
  height: 324px;
}

.my-booking .text-wrapper-16 {
  color: #ffffff;
  font-family: "Volkhov", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 654px;
  letter-spacing: 0;
  line-height: 71px;
  position: absolute;
  text-align: center;
  top: 128px;
  white-space: nowrap;
  width: 639px;
}

.my-booking .ant-dropdown .ant-dropdown-menu,
.my-account-dropdown.ant-dropdown .ant-dropdown-menu{
  padding: 14px !important;
  width: 180px !important;
}

.my-booking a.ant-dropdown-trigger:hover,
.my-account-dropdown a.ant-dropdown-trigger:hover{
  cursor: pointer;
}

.my-booking .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content,
.my-account-dropdown.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content{
  font-size: 20px !important;
}

.my-booking .ant-table-wrapper .ant-table {
  font-size: 18px !important;
}